.products-list {
  padding: 0 10px;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content:space-between;
}
.single-product {
  margin: 0 0 30px 0;
  position: relative;
  background-color: #fff;
  width: 100%;
  .title-block {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #000;
    h2 {
      padding: 10px 10px;
      font-size: .8rem;
    }
  }
  .image-slider {
    padding: 0 0 50  px 0;
    .product-img {
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
  }
  .description-btn {
    @include default-btn;
    width: 100%;
    background-color: $col-subtle;
    border-radius: 0;
    font-size: .8rem;
    &:hover {
      background-color: darken($col-subtle, 10%);
    }
  }
  .single-product-footer {
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .product-description {
    display: none;
  }
  .product-description-expanded {
    padding: 10px;
    width: 100%;
    background-color: lighten($col-subtle, 10%);
    opacity: .9;
    z-index: 10;
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: .9rem;
    }
    iframe {
      width: 100%;
    }
  }
  .price {
    padding: 0 0 0 10px;
    display: block;
  }
  .add-product {
    @include default-btn;
    border-radius: 0;
    font-size: .7rem;
    position: relative;
    &:active {
      transform: translateY(4px);
      transition: all .2s;
    }
  }
}
@media only screen and (min-width: 500px) {
  .single-product {
    font-size: 1.1rem;
    .title-block {

    }
    .description-btn {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .single-product {
    width: 48%;
    .title-block {
      h2 {
        padding: 10px 10px;
        font-size: 1.2rem;
      }
    }
    .add-product {
      font-size: .9rem;
    }
    .price {
      font-size: 1.2rem;
    }
  }
}
